<!DOCTYPE html>
<html>
<head>
    <title>Add Emp Output</title>
    <style>
        body {
            background-image: url('https://clo835bucketw24.s3.amazonaws.com/mybg.png');
            
        }
        
        center {
            font-family: avenir;
            color: DodgerBlue;
            text-align: center;
        }
    </style>
</head>
<body>
    <center>
        <font size="5">
            <h1>The employee {{ name }} was successfully added to the database</h1><br>
            <h2>The Employee has been added to the database</h2><br>
            <h2>{{ name }}</h2><br>
            <a href="{{ url_for('home') }}">Back</a>
        </font>
    </center>
</body>
</html>
